<nav>
    <div class="sidenav">
        <h1 class="name">Digital Library</h1>
        <a href="https://digital-library-d2cae.firebaseapp.com\home\home.html">Home</a>
        <a href="https://digital-library-d2cae.firebaseapp.com\upload\upload.html">Register Book</a>
        <!-- <a href="#profile">Profile</a> -->
        <!-- <a href="#categories">Categories</a> -->
        <a href="https://digital-library-d2cae.firebaseapp.com/login/login.html">Logout</a>
    </div>
    <!-- <footer>
        <div class="footerContent">
            © 2017-2019 Damiani Inc.
        </div>
    </footer> -->
</nav>