body {
    font-family: "Lato", sans-serif;
    background: rgb(11, 20, 28);
}


/* Logo start ##################### */


/* .logo {
    margin-left: 32%;
    width: 36%;
    height: 75px;
    border-radius: 30%;
    margin-bottom: 30px;
} */

.name {
    width: 100%;
    /* height: 50px; */
    font-family: "Lato", sans-serif;
    /* background-color: red; */
    color: rgba(241, 143, 1, 1);
    text-align: center;
    font-size: 240%
}


/* Logo finish ##################### */


/* Side menu start ##################### */

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(23, 42, 58);
    overflow-x: hidden;
    padding-top: 2%;
}

.sidenav a {
    margin-top: 2%;
    /* padding: 10px 8px 6px 16px; */
    padding: 6% 2% 1% 6%;
    text-decoration: none;
    font-size: 150%;
    color: #0fad51;
    display: block;
}

.sidenav a:hover {
    color: rgba(241, 143, 1, 1);
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* Side menu finish ##################### */


/* footer start ##################### */

footer {
    position: absolute;
    /* top: 1050px; */
    width: 85%;
    bottom: 0px;
    left: 15%;
    height: 50px;
    background-color: red;
}

.footerContent {
    color: rgba(241, 143, 1, 1);
    position: relative;
    bottom: 0px;
    padding: 1%;
    text-align: center;
}


/* footer finish ##################### *