body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(11, 20, 28);
    text-align: center;
    position: absolute;
    width: 99%;
    color: rgba(241, 143, 1, 1);
}

.title {
    font-size: 250%;
}

input[type=email],
input[type=password] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 22px;
    display: inline-block;
    border: 1px solid #000000;
    color: #008F11;
    background-color: rgb(11, 20, 28);
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    font-size: 100%;
    /* -webkit-text-fill-color: #008F11 !important; */
    -webkit-box-shadow: 0 0 0 30px rgb(11, 20, 28);
    -webkit-text-fill-color: rgba(241, 143, 1, 1);
}

input:focus {
    /* border: 2px solid #3bc073; */
    border-bottom: 2px solid #3bc073;
    /* background-color: red; */
    margin-bottom: 22px;
}

button {
    text-align: center;
    background: none;
    color: #3bc073;
    border: 2px solid #3bc073;
    padding: 2%;
    width: 30%;
    margin-bottom: 3%;
    border-radius: 3%;
}

button:hover {
    background-color: rgb(11, 20, 28);
    border-color: rgba(241, 143, 1, 1);
    color: rgba(241, 143, 1, 1);
}

.registrationButton {
    text-align: center;
    color: rgba(241, 143, 1, 1);
    border: 2px solid #3bc073;
    padding: 1%;
    width: 6%;
    font-size: 80%;
    border-radius: 3%;
    position: absolute;
    float: right;
    top: 20px;
    right: 20px;
}

.cancelbtn {
    text-align: center;
    background: none;
    color: #bd0c0c;
    border: 2px solid #bd0c0c;
    padding: 2%;
    width: 30%;
    margin-bottom: 3%;
    border-radius: 3%;
}

.imgContainer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
    padding: 14px 20px;
}

.container {
    padding: 16px;
    width: 30%;
    display: inline-block;
    position: relative;
}

span.psw {
    float: right;
    padding-top: 16px;
}