#box {
    margin-left: 16%;
}

.card {
    width: 12%;
    margin: 1%;
    position: relative;
    float: left;
    border: 2px solid transparent;
}

.card:hover {
    background-color: rgb(23, 42, 58);
    /* border: 2px solid #0fad51; */
    border: 2px solid rgb(23, 42, 58);
    color: green;
    cursor: pointer;
}


/* .imgBox {
  background: red;
  width: 30%
} */

.imgTag {
    width: 100%;
    height: 280px;
}

.infoBox {
    color: red;
    height: 20px;
}

.nameBox {
    color: rgba(241, 143, 1, 1);
    text-align: center;
}

.nameBox:hover {
    color: #0fad51
}

@media screen and (max-width: 1688px) {
    .imgTag {
        height: 250px;
    }
    .card {
        width: 13%;
    }
}

@media screen and (max-width: 1600px) {
    .imgTag {
        height: 280px;
    }
    .card {
        width: 15%;
    }
}

@media screen and (max-width: 1350px) {
    .card {
        width: 18%;
    }
    .imgTag {
        height: 250px;
    }
}

@media screen and (max-width: 1100px) {
    .box {
        text-align: center;
        ;
    }
    .card {
        width: 35%;
    }
    .imgTag {
        height: 350px;
    }
    /* .nameBox {
        color: rgba(241, 143, 1, 1);
        text-align: center;
        font-size: 12px;
        background-color: red;
    }
    .imgTag {
        width: 100%;
        height: 140px;
    } */
}

@media screen and (max-width: 850px) {
    .card {
        width: 40%;
    }
    .imgTag {
        height: 350px;
    }
}

@media screen and (max-width: 600px) {
    .card {
        width: 40%;
    }
    .imgTag {
        height: 250px;
    }
}