body {
    font-family: "Lato", sans-serif;
    background: rgb(11, 20, 28);
}


/* Logo start ##################### */


/* .logo {
    margin-left: 32%;
    width: 36%;
    height: 75px;
    border-radius: 30%;
    margin-bottom: 30px;
} */

.name {
    width: 100%;
    /* height: 50px; */
    font-family: "Lato", sans-serif;
    /* background-color: red; */
    color: rgba(241, 143, 1, 1);
    text-align: center;
    font-size: 240%
}


/* Logo finish ##################### */


/* left content start ##################### */

.infoBoxTitle {
    width: 40%;
    height: 100px;
    position: absolute;
    top: 5%;
    left: 18%;
    background-color: rgb(23, 42, 58);
}

.infoBoxTitle h2 {
    color: rgba(241, 143, 1, 1);
    font-size: 350%;
    text-align: center;
    margin-top: 15px;
}

.infoBox {
    width: 40%;
    height: 810px;
    position: absolute;
    top: 17%;
    left: 18%;
    background-color: rgb(23, 42, 58);
    margin-bottom: 100px;
}

.infoCard {
    position: relative;
    top: 2%;
    padding: 1%;
}

.infoField {
    background-color: rgb(11, 20, 28);
    width: 88%;
    margin-left: 5%;
    padding: 1.2%;
    border: none;
    color: rgb(13, 151, 13);
    border-radius: 5px;
    font-size: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#genreSelect {
    -webkit-appearance: none;
    background-color: rgb(11, 20, 28);
    color: rgb(214, 202, 202);
    width: 90.5%;
    margin-left: 5%;
    border: none;
    padding: 1.2%;
    border-radius: 5px;
    font-size: 100%;
}

#genreSelect option {
    color: rgba(241, 143, 1, 1);
}

#genreSelect :checked {
    background-color: rgb(13, 151, 13);
}

option[value=""][disabled] {
    display: none;
}

.txtField {
    color: rgba(241, 143, 1, 1);
    background-color: rgb(11, 20, 28);
    width: 87.3%;
    margin-left: 5%;
    padding: 1.5%;
    border: none;
    height: 100px;
    border-radius: 5px;
    font-size: 120%;
    font-family: "Lato", sans-serif;
    margin-bottom: 2%;
}

::placeholder {
    color: rgb(214, 202, 202);
}

.saveBox {
    width: 100%;
    text-align: center;
    margin-top: 2%;
}

.saveButton {
    text-align: center;
    background: none;
    color: #3bc073;
    border: 3px solid #3bc073;
    padding: 2%;
    width: 30%;
    border-radius: 5px;
    font-size: 120%;
}

.saveButton:hover {
    background-color: rgb(11, 20, 28);
    border-color: rgba(241, 143, 1, 1);
    color: rgba(241, 143, 1, 1);
}

.messageCard {
    text-align: center;
    font-size: 170%;
    font-weight: bold;
    color: rgba(241, 143, 1, 1);
    vertical-align: top;
}

@media screen and (max-width: 1100px) {
    .infoBoxTitle h2 {
        color: rgba(241, 143, 1, 1);
        font-size: 250%;
        text-align: center;
        margin-top: 25px;
    }
}


/* left content finish ##################### */


/* right content start ##################### */

.fileBoxTitle {
    width: 36%;
    height: 100px;
    position: absolute;
    top: 5%;
    right: 4%;
    float: right;
    background-color: rgb(23, 42, 58);
}

.fileBoxTitle h2 {
    color: rgba(241, 143, 1, 1);
    font-size: 350%;
    text-align: center;
    margin-top: 15px;
}

.fileBox {
    width: 36%;
    height: 810px;
    position: absolute;
    top: 17%;
    right: 4%;
    float: right;
    background-color: rgb(23, 42, 58);
}

.fileLabelCover {
    position: relative;
    top: 2%;
    left: 1%;
    text-align: center;
    background: none;
    border: 3px solid #32a160;
    border-radius: 5px;
    color: rgba(241, 143, 1, 1);
    cursor: pointer;
    margin: 10px;
    padding: 1% 4%;
}

.fileLabelBook {
    position: relative;
    top: 6%;
    left: 1%;
    text-align: center;
    background: none;
    border: 3px solid #32a160;
    border-radius: 5px;
    color: rgba(241, 143, 1, 1);
    cursor: pointer;
    margin: 10px;
    padding: 1% 4.5%;
}

.fileLabelCover:hover,
.fileLabelBook:hover {
    background-color: rgb(11, 20, 28);
    border-color: rgba(241, 143, 1, 1);
    color: #32a160;
}

.fileField {
    display: none
}

.progressFieldCover {
    width: 65%;
    height: 25px;
    border-radius: 3%;
    position: relative;
    top: 2.5%;
    left: 3%;
}

.progressFieldBook {
    width: 65%;
    height: 25px;
    border-radius: 3%;
    position: relative;
    top: 6.5%;
    left: 3%;
}

.coverPreview {
    /* background-color: red; */
    width: 96%;
    margin-left: 2%;
    position: absolute;
    /* bottom: 6.5%; */
    top: 17%;
    height: 660px;
    border: none;
}

.coverPreviewImg {
    max-width: 100%;
    max-height: 660px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media screen and (max-width: 1100px) {
    .fileBoxTitle h2 {
        color: rgba(241, 143, 1, 1);
        font-size: 250%;
        text-align: center;
        margin-top: 25px;
    }
    .progressFieldCover {
        width: 50%;
        height: 25px;
        border-radius: 3%;
        position: relative;
        top: 2.5%;
        left: 3%;
    }
    .progressFieldBook {
        width: 50%;
        height: 25px;
        border-radius: 3%;
        position: relative;
        top: 6.5%;
        left: 3.5%;
    }
}


/* right content finish ##################### */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(23, 42, 58);
    color: rgba(241, 143, 1, 1);
    text-align: center;
    border-radius: 5px;
    padding: 18px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    border-style: solid;
    border-width: 1px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}