.box {
    /* background-color: orange; */
    background-color: rgb(23, 42, 58);
    margin-left: 16%;
    width: 83%;
    height: 900px;
}

.imgCard {
    /* background-color: red; */
    background-color: rgb(11, 20, 28);
    margin-left: 2%;
    margin-top: 2%;
    width: 30%;
    height: 73%;
    position: relative;
    float: left;
}

.imgCover {
    max-width: 100%;
    max-height: 660px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.infoCard {
    background-color: rgb(11, 20, 28);
    margin-left: 1%;
    margin-right: 2%;
    margin-top: 2%;
    width: 64%;
    height: 73%;
    position: relative;
    float: right;
}


/* synopsis card */

.synopsisCard {
    background-color: rgb(11, 20, 28);
    width: 96%;
    margin-left: 2%;
    position: relative;
    top: 79%;
    height: 19%;
    text-align: justify;
}

.synopsisInfo {
    width: 98%;
    height: 83%;
    position: absolute;
    color: #0fad51;
    padding: 1%;
}


/* synopsis card */

.infoTitle {
    color: rgba(241, 143, 1, 1);
    text-align: center;
    font-size: 250%;
}

.infoSubtitle {
    color: rgba(241, 143, 1, 1);
    font-size: 150%;
    font-weight: bold;
    margin-left: 2%;
}

.infoField {
    margin-left: 3%;
    color: #0fad51;
    width: 86.5%;
    border-bottom: 2px solid rgba(241, 143, 1, 1);
    padding: 0.5%;
}

.infoTable {
    width: 100%;
    margin-left: 1%;
}

.infoTableTitle {
    color: rgba(241, 143, 1, 1);
    font-size: 150%;
    font-weight: bold;
    margin-left: 1%;
    display: inline-block;
    width: 30%;
}

.infoTableField {
    display: inline-block;
    width: 25%;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    color: #0fad51;
    border-bottom: 2px solid rgba(241, 143, 1, 1);
    padding: 0.5%;
}